<% include ../shared/header %>
  <h1>Tasks</h1>
	<hr />
	<a href="/task/novo" class="btn btn-large btn-primary" type="submit">Novo</a>
	<hr />
	<% if(tasks.length > 0){ %>
		<table class="table">
			<tr>
				<th>nome</th>
				<th>data</th>
				<th>pronto?</th>
				<th></th>
			</tr>
			<% tasks.forEach(function(task){ %>
			<tr>
				<td><%= task.name %></td>
				<td><%= dateFormat(task.due_date, "dd/mm/yyyy") %></td>
				<td><%= task.done %></td>
				<td width="60px">
					<a class="btn" href="/task/editar/<%= task.id %>">Editar</a>
				</td>
				<td width="60px">
					<a class="btn btn-danger" href="/task/apagar/<%= task.id %>">Apagar</a>
				</td>
			</tr>
	  	<% }) %>
		</table>
	<% } else{ %>
		<div class="error">Nenhum resultado encontrado</div>
	<% } %>
<% include ../shared/footer %>