<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>lista de tasks <%= title %></p>

    <ul>
    	<% tasks.forEach(function(task){ %>
		    <li>
		    	<div id="id"><%= task.id %></div>
		    	<div id="name"><%= task.name %></div>
		    	<div id="name"><%= task.due_date %></div>
		    </li>
		  <% }) %>
	  </ul>
  </body>
</html>